body {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.recipes-grid {
   display: grid;
   gap: 1rem;
}

.recipe-card {
   background-color: yellow;
   padding: 0.2rem 1rem;
}

/* Navigation */
.nav {
   display: flex;
   justify-content: space-between;
}

.pages {
}
